.prose, .prose-lg, .prose-xl {
  max-width: 900px !important;
  text-align: justify !important;
}

article {
  max-width: 900px !important;
}

.max-w-prose {
  max-width: 900px !important;
}

.prose, .prose-lg, .prose-xl {
  max-width: 900px !important;
  text-align: justify !important;
}

article {
  max-width: 900px !important;
}

.max-w-prose {
  max-width: 900px !important;
}

details div {
  align-items: center !important;
}

.avatar img, img[alt="avatar"] {
  width: 150px !important;
  height: 150px !important;
}
